*{
    margin: 0;
}
#block{
    display: block;
    background-color: aqua;
    text-align: center;
    font-size: 2rem;
    padding: 2%;
    width: 100%;
}
.inline-block{
    display: inline-block;
    background-color: rgb(22, 19, 235);
    text-align: center;
    color: #fff;
    padding: 2%;
}


#flex{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(82, 68, 68);
    text-align: center;
    color: #fff;
}

#no-wrap{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(82, 68, 68);
    text-align: center;
    color: #fff;

}

#inline{    
    display: inline;
    background-color: rgb(0, 255, 55);
    text-align: center;
    padding: 2%;
    width: 100%;
}

#none{    
    display: none;
    background-color: rgb(255, 0, 85);
    text-align: center;
    padding: 2%;
    width: 100%;

}

div#specificity{
    color: blueviolet;   /* id selectors have a higher specificity than attributes selectors*/
}
#specificity{
    color: brown;
}
div[id=specificity]{
    color: cadetblue;
}

#visibile{    
    visibility: visible;
    background-color: aqua;
    text-align: center;
    padding: 2%;
    width: 100%;

}

#hidden{    
    visibility: hidden;
    background-color: aqua;
    text-align: center;
    padding: 2%;
    width: 100%;

}

#important{
    text-align: center;
    background-color: black;
    color: white;

}

p{
    background-color: tomato !important;
}